[2017-04-24 03:17] budparr opened #1 "[docs] Add HLJS"
Not sure yet I understand how it works.

[2017-04-24 03:22] budparr opened #2 "Style filename in shortcode/code.html"
example grab-top-two-tags.html

[2017-04-24 03:23] budparr opened #3 "Add header anchors"
clickable headers icon for sharing in-page sections

[2017-04-24 03:24] budparr opened #4 "Better style metadata"
Mostly "okay" but "improve this page" needs styling to make it stand out

[2017-04-24 03:26] budparr opened #5 "Style description lists"
dl, dt, dd

[2017-04-24 03:27] budparr opened #6 "Fix TOC padding"
Needs to be flush left
<img width="219" alt="screen shot 2017-04-23 at 11 27 14 pm" src="https://cloud.githubusercontent.com/assets/115347/25321415/73aab2b0-287c-11e7-9c2a-16ffdc08e75d.png">

[2017-04-24 03:30] budparr opened #7 "improve mobile menu transitions"
this can use some css animation love.

[2017-04-24 22:45] rdwatters opened #8 "Remove the git data from the last updated..."
This implies that the changes are substantive when they are very often just a typo or two. I think `lastmod` should be the sole data point for this...

See here for some context:

https://github.com/spf13/hugo/issues/2829#issuecomment-289153688

[2017-04-24 22:47] rdwatters opened #9 "Consider fixed navigation?"
I'm open to conversation on this, but what are your thoughts on keeping the site nav and TOC fixed items? Some pages are very long, and the TOC at the head of the page does little to make the content more navigable:

http://hugodocs-170421.surge.sh/templates/lists/

Further, do you have any thoughts on smooth scrolling so that it doesn't look like the user went to a separate page on mobile?

[2017-04-24 22:52] rdwatters opened #10 "Allow for dropdown/accordion/expanding items in site nav..."
This is just another conversational point similar to https://github.com/budparr/gohugo-theme/issues/9.

With the current hugodocs.info, users can open and close sections to go directly to pages, even on mobile. Do you think this would provide additional utility for mobile users?

[2017-04-24 22:54] rdwatters commented on #1
Not sure how progress is coming along on this @budparr but as an FYI, I extended the HLJS for some hugo-specific needs if you look at the code. LMK if you have any questions, brother. Thanks!

[2017-04-24 23:17] budparr commented on #9
I will likely add smooth scrolling back in. As I mentioned on Gitter, I start by taking everything out, then adding back in in order of the most essential scripts until I hit my budget (trying to keep speed index close to 1000).  I think right now I just have docsearch, clipboardjs, and hljs (which I haven't gotten to work yet).

re: fixed menu. I tend to agree. To be perfectly honest, I'm having

[2017-04-24 23:25] budparr commented on #10
I've considered this, and will revisit.

[2017-04-24 23:27] budparr commented on #8
Very happy to remove anything.

Out of this information currently listed, what should I take out?

[code]

[2017-04-25 01:10] budparr commented on #5
Fixed here: https://github.com/budparr/gohugo-theme/commit/f40b107f002fc913d8b89ac77c8b5ecf6c0e7dd0

[2017-04-25 01:10] #5 closed

[2017-04-25 01:18] budparr opened #11 "Add "download" functionality and improve design of code blocks with it"
<img width="658" alt="screen shot 2017-04-24 at 9 17 54 pm" src="https://cloud.githubusercontent.com/assets/115347/25364912/9ac44ce6-2933-11e7-9ce4-0a7dd37534f2.png">

[2017-04-25 01:24] #6 closed

[2017-04-25 06:47] rdwatters commented on #8
Release: Hugo v0.20 documentation

I think the last updated is great. Thanks @budparr !

[2017-04-25 17:20] rdwatters commented on #9
Can I help?

[2017-04-25 17:48] budparr commented on #9
You have everything at your disposal to work on it and do a P.R. so you're welcome to if you have an idea. That said, I'm working on revamping quite a few things at the moment, so you may want to save yourself the time. That said that said :) if you see something glaring that I'm just missing, you're welcome to throw it out there here in the issue.

[2017-04-25 17:52] rdwatters commented on #9
I figured as much. Once you're at the point where you're slowing down, let me know and I'm happy to submit a PR. I know some of the JS on the current gohugo.io gets a bit laborious, so please keep me apprised of how I can help :smile:

[2017-04-26 00:48] budparr commented on #2
See example in https://github.com/budparr/gohugo-theme/issues/11

[2017-04-26 02:49] #9 closed

[2017-04-26 02:51] budparr commented on #9
I added these, in a quick and dirty way. Still need to do some testing, etc. but going to close this for now.

[2017-04-26 22:23] rdwatters commented on #9
Ah, I like the quick and dirty fix, actually. Looks great on desktop. As a next step (future iteration), what do you think about making this a fixed nav/off-canvas piece on mobile? That's the form factor in which the extra long pages strike me as especially difficult to traverse. Thanks @budparr

[2017-04-27 02:03] budparr commented on #9
Not sure I understand the benefit. I think long-pages are hard to understand no matter where you put the menu, and better to chunk the content into smaller pieces.

Right now, my speed index on repeat views is 812 (1012 with no cache), which is about right, so any additional scripts (and I'm not–so far–using any jquery) will need to be, in my view, absolutely critical. Speed is the ultimate featur

[2017-04-27 02:10] #8 closed

[2017-04-27 02:37] budparr commented on #1
So, reviewing this file:
https://github.com/rdwatters/hugo-docs-concept/blob/master/themes/hugo-docs-concept/pipeline/js/scripts/highlight.pack.js

It looks like this is a hand copied file with no dependencies, correct? Can you point out exactly what you added so I can pull that out. I'm going to try to use NPM and just add the critical bits, which I think will make it more maintainable in the fut

[2017-04-27 03:38] budparr commented on #1
This is where I'm at so far:
https://github.com/budparr/gohugo-theme/blob/master/src/js/hljs.js

[2017-04-27 03:38] budparr commented on #1
- [ ] pick a different style

[2017-04-27 03:39] budparr commented on #1
- [ ] check, it may have created a conflict with my copy button styling

[2017-04-27 19:46] rdwatters commented on #9
Works for me; by the way, I like the smooth scroll you implemented. Is that a Bud Parr original? More importantly, may I steal it? :smile:

[2017-04-27 19:50] budparr commented on #9
Good. Sorry that I'm so conservative.
And, I've only lightly touched the smoothscroll. I think you'll like working with Webpack, by the way. Once it's set up, it's super easy to add new scripts. Much easer, IMHO, than Gulp.

[2017-04-27 20:48] rdwatters commented on #9
Something I'm discovering for sure. You got me interested and I'm taking a course on Laracasts. It will take some getting used to, but I think we share similar thoughts on, for example, components....and certain tendencies for SCSS to get totally unreadable.

[2017-04-28 00:22] budparr opened #12 "Style tables"

[2017-04-28 00:52] #12 closed

[2017-04-28 03:54] budparr commented on #1
I spoofed HLJS by registering the handlebars library for HTML, which allows us to highlight just the Hugo templating. I've styled it so just that shows up. May have to adjust, but I think this makes sense.

<img width="571" alt="screen shot 2017-04-27 at 11 50 55 pm" src="https://cloud.githubusercontent.com/assets/115347/25513615/70175344-2ba4-11e7-99db-081a4a481f0b.png">

_FWIW, @rdwatters, we ha

[2017-04-28 05:47] rdwatters commented on #1
I was going to write and mention that you can probably just download the HLJS with the languages I already include in the current version and just don't worry about the tweaks I made, some of which were just to make HLJS render the corresponding icon as part of the fontello icon font.

Agreed on some of the opinionated selectors, many of which are just carried over from the current site where we h

[2017-04-28 11:39] budparr commented on #1
I just think the bare minimum HTML to be illustrative (the rest is noise, IMHO), and I don't see any reason for class or IDs, unless they have something specific to do with what's being illustrated.

[code]

[2017-04-28 12:04] budparr opened #13 "When to merge as a "release candidate""
Here's the current version: https://hugodocs-170426.netlify.com/

Still plenty to do, obviously, but being that the site it will be merged into is also in beta, it seems to me it would be good to get the new design into the wild so people can comment, etc.

I suppose what I need to know are what the critical missing elements that need to be done before that can happen.

_note: to make the current

[2017-04-28 14:35] rdwatters commented on #1
Good call. I'll update this weekend. There are only a couple examples where I think classes may help, but these might be better served with just a few HTML comments. Cheers!

[2017-04-28 14:48] budparr commented on #1
Cool. I'm going to close this for now. We may want to revisit the styling, but that's easy enough, so if you see something that needs some color (as I said, I only styled the Hugo tags), just drop an issue.

Thanks!

[2017-04-28 14:48] #1 closed

[2017-04-28 14:57] #4 closed

[2017-04-28 14:58] budparr commented on #2
actually, going to close in favor of #11

[2017-04-28 14:58] #2 closed

[2017-04-28 17:16] rdwatters commented on #13
@budparr I definitely have some work cut out for me on Sunday :smile:

If @bep and @digitalcraftsman (and the rest of the team) are okay with putting this out in the wild, I'd say we set this as the theme on hugodocs.info so that we aren't asking for feedback from the community for a third URL. I'm not terribly attached to my current "design" anyways.

Then I'll work with Lars over the next week t

[2017-04-28 17:43] bep commented on #13
@rdwatters

1) Don't spend too much time creating that list. `find` or in current Hugo repo similar should be able to list the "files bigger than n bytes". Should not be too many.
2) Also, don't spend time on redirects. That sounds like a waste of time. I think it will confuse fewer people if you close that site down when we go live.

I'm not a big fan of dragging things out in time -- it doesn't

[2017-04-28 18:00] rdwatters commented on #13
I noticed the same w/r/t the signature being a bit on the large side. BTW, this looks great and I was hoping you were going to do something similar to MDN. Do you think it needs a "Signature" or "Syntax" heading above it?

<img width="830" alt="date_prototype_settime___-_javascript___mdn" src="https://cloud.githubusercontent.com/assets/8184251/25540981/a130efbc-2c12-11e7-923e-2fce403cc9f1.png">

I

[2017-04-28 18:03] rdwatters commented on #13
Okay, and while looking at the signatures, noticed that when @moorereason added more than one signature, they aren't separated by a line break, for example:

https://hugodocs-170426.netlify.com/functions/index-function/

<img width="576" alt="hugo___index" src="https://cloud.githubusercontent.com/assets/8184251/25541122/20b6513c-2c13-11e7-9b4b-a39b9b4fcbb1.png">

[2017-04-28 18:10] rdwatters commented on #11
One consideration, if I may @budparr, is that I want to make sure to register both the copy and download events for GA...which are currently being tracked on hugodocs.info. If you want more context, please resend me your gmail and I'll give you access to the account.

[2017-04-28 19:39] budparr commented on #13
@rdwatters I'll add that last bit as a new issue. Thank you.

[2017-04-28 19:47] budparr opened #14 "Improve "Signature" styling and allow for multiple signatures on one page"
From issue #13 https://github.com/budparr/gohugo-theme/issues/13#issuecomment-298066907

<img width="576" alt="hugo___index" src="https://cloud.githubusercontent.com/assets/8184251/25541122/20b6513c-2c13-11e7-9b4b-a39b9b4fcbb1.png">

[2017-04-28 19:49] bep opened #15 "Main column too narrow"
![image](https://cloud.githubusercontent.com/assets/394382/25544804/72735454-2c5c-11e7-93dd-91da225c1452.png)

In the example above, there is nothing in the right column, yet I have to scroll to read the CLI help.

[2017-04-28 19:49] budparr commented on #14
- [ ] Make type size consistent with body copy
- [ ] test for and create separate instances of signatures
- [ ] [consider](https://github.com/budparr/gohugo-theme/issues/13#issuecomment-298066085) putting a heading over the signatures (one heading for all signature instances.

[2017-04-28 19:53] budparr commented on #15
That's a little bit sticky because the width of the column has a direct relationship to the size of body copy, where around 75ish characters in a line is very readable. To make the column wider has the knock effect of making the type size necessarily larger.

One thing I've worked on is having the code blocks be wider than the body copy. I'll play around with both. Thanks for bringing it up.

[2017-04-28 19:54] moorereason commented on #14
My simple partial for multiple sigs is in https://github.com/rdwatters/hugo-docs-concept/blob/master/themes/hugo-docs-concept/layouts/partials/functions-signature.html

[2017-04-28 19:57] budparr commented on #14
Thanks!

[2017-04-28 19:58] bep commented on #15
If

1) the right column is mainly for the TOC
2) the code samples are mainly coming below the TOC, what about making the code frame stick out to the right a little?

[2017-04-28 20:03] budparr commented on #15
Agree. I had an example of this in my first iteration (that I had done for the news site), and will revive that code.

[2017-04-29 14:24] budparr commented on #15
I added a script to check if the width of the block's contents are wider than the container. If so, on hover (for the moment) expand the code block. I will refine the actual behavior, but this, I think, is in the right direction.

[2017-04-29 15:27] digitalcraftsman commented on #13
After having a look at the current state of the docs I compiled this lists of things that I would like to see in the release candidate:

### Syntax Highlighting

Beside the actual documentation the docs also feature a large portion of example code. Syntax highlighting make the reading of the example code much more pleasant.

Furthermore, most code examples are to wide in order to fit into the midd

[2017-04-29 18:22] budparr commented on #13
Thanks. I've recorded the ones that didn't already have an in issue in a new one.

[2017-04-29 18:48] rdwatters commented on #13
@budparr , so that I don't get out of line with scope for this used thread, would you prefer I (and others) open individual issues during our review? Seems like double work for you to open these up based on comments. Thoughts?

[2017-04-29 18:49] budparr commented on #13
yes, please.

[2017-04-29 19:04] budparr commented on #13
I think this is on everyone's radar and we have issues filed. so I'm closing this. Thanks!

[2017-04-29 19:04] #13 closed

[2017-04-29 19:10] budparr opened #16 "See if HLJS can work on generic (non-language specific) code blocks"
Currently HLJS is cued off of the class `language-html` or other appropriate language. Code blocks only get that class if they're wrapped in a short-code, and handling of the shortcode is inconsistent through the docs, leaving many left without highlight.

So either we need to find a way to apply hljs to generic code that doesn't have that class or apply the shortcode uniformly to the code.

cc @d

[2017-04-29 19:10] budparr commented on #16
Ryan said:

[2017-04-29 19:11] budparr commented on #16
Alright. So I may have been too aggressive with stripping out styles for things that were not Hugo. I see, too that there's Hugo stuff that is `language-html` as well `language-golang` which, the latter, I didn't account for.

[2017-04-29 19:11] budparr commented on #16
Yeah, that makes sense. So things that don't need those features, shouldn't be wrapped in the shortcode, therefore I need to account for them in my styling. I'll take another look.

and, as you can see here I stripped out everything. https://github.com/budparr/gohugo-theme/blob/master/src/css/_hljs.css

But as far as I understood, HLJS is language specific, but I'll see if I can dig up something,

[2017-04-29 19:14] budparr commented on #13
Milestone for the release issues: https://github.com/budparr/gohugo-theme/milestone/1

[2017-04-29 19:17] budparr commented on #16
Trying to avoid this (https://hugodocs.info/templates/introduction/#2-use-to-access-the-global-context), where the HTML tags are highlighted, but not the Hugo tags (except in one case because the Hugo tag is part of the HTML:

<img width="714" alt="screen shot 2017-04-29 at 3 16 20 pm" src="https://cloud.githubusercontent.com/assets/115347/25558167/d6632984-2cee-11e7-91ac-1b233f83cc04.png">

_this

[2017-04-29 19:49] budparr opened #17 "Discussion on color scheme"
This discussion pertains to the docs site as well as the home page/news site, because they share the same theme.

As a color scheme, I'm using the colors from the Hugo logo + a dark blue as a background (initially conceived to dampen the impact of the very bright colors given). Additionally, I'm using a light-gray background. I've favored the blue and the green for most uses, with the pink used fo

[2017-04-29 22:18] rdwatters commented on #16
Ha, responded on my phone and didn't notice.

I think the example you put above is a good one since I remember trying tweak a lot of the HLJS (including, for example, `hugo` as an alias for a natively supported language in HLJS) so that I could get Hugo-specific keywords. For example, I added `Site` and `Data` and a few others:

https://github.com/rdwatters/hugo-docs-concept/blob/master/themes/hug

[2017-04-29 22:31] rdwatters commented on #16
Hmm. So I guess the HLJS "Handlebars" is a *little* better in that it recognizes the double curlies as a template variable, but it doesn't separate strings from templating logic, etc.

Do you think we should write our own `hljs.registerLanguage` for `hugo` that we import as a module? Just copy and extend handlebars, sine it's in many ways just an extension of HTML? This is mostly me spitballing :s

[2017-04-30 01:01] rdwatters commented on #17
Agreed (e.g., see [this theme](https://www.watters.io/) and [this theme](https://hugos-story.netlify.com/) that I'm tweaking and porting over to Hugo soon, hopefully). I went with loud colors for hugodocs.info because it seems like the community dug the colorfulness [based on this thread](https://discuss.gohugo.io/t/new-theme-for-hugo-docs-http-hugodocs-netlify-com/2335). Just a thought, but then

[2017-04-30 01:41] budparr commented on #17
I've not done much to the admonitions. I haven't thought much about the download button (there's an issue for it elsewhere).

It's seems with that last bit you agree with the intent, but not the substance. I'm saying I don't use black and white, and I've said elsewhere, to you, I prefer small chunks of copy. I'm not concerned here with SEO, so maybe that's what you're talking about. At any rate, n

[2017-04-30 02:16] rdwatters commented on #17
And the substance :smile: I can see how it seems like a few meta-references to other topics. I phrased it sloppily.

Whether it's black text on top of a white background or dark gray on top of light gray isn't an issue for me. I don't think your design is boring at all. I think your choices are substantiated and make the content easier to navigate and, therefore, understand. Some of the concepts i

[2017-04-30 03:05] budparr commented on #17
we are indeed on the same page. Thanks very much for your comments.

[2017-04-30 22:30] rdwatters opened #18 "Toggle for dark/light code theme in all code blocks"
Not saying this needs to be a requirement for launch (if at all), but only continuing the conversation from the current Hugo docs concept repo. I already think your visual design decisions make the content more readable, so this may be superfluous at this point:

https://github.com/rdwatters/hugo-docs-concept/issues/27

[2017-05-03 09:21] digitalcraftsman commented on #17
Hey Bud and Ryan,

I'm a little late to the party but should share a more detailed version of my thoughts.

The dark blue background of the navigation combined with the Hugo logo has a good contrast (I love the contrast in the hero section of the homepage). Blue would also be the color of choice from the color palette of the Hugo logo.

However, in the docs, a combination of blue and green is used

[2017-05-07 13:23] #14 closed

[2017-05-07 15:37] budparr commented on #17
Hey, @digitalcraftsman some notes:

I've done this now. Was already in my notes todo above.

Yeah, the near-white we use on single-page layouts as well as list-page layouts is quite close to white and the contrast ratio is 7.01 which is right on. Using the near white as opposed to white allows us to use white boxes on an overlay where needed and softens the colors atop it. I mentioned this above,

[2017-05-07 18:23] digitalcraftsman commented on #17
Then it makes sense sense to go fully white.

The settings on each display are different but I've to agree that it's easier to soften the color than to adjust the contrast / colors of the display for a single website.

Thanks for the update; I'm curious what's coming next.

[2017-05-07 18:25] budparr commented on #17
@digitalcraftsman - What do you mean when you say "Then it makes sense sense to go fully white?"

[2017-05-07 21:12] digitalcraftsman commented on #17
I'm sorry; I forgot that I began to edit this sentence. It was actually meant that "it makes sense to not go fully white"

[2017-05-08 04:18] rdwatters opened #19 "Use of definition list for functions Quick Reference..."
I like the blocks/cards being used for the index/list pages, but I wonder if there is more value in keeping the functions reference semantic as a `<dl>`? I usually find longer alphabetical lists easier to scan as single columns. Thoughts?

[2017-05-08 11:14] budparr commented on #19
Are you talking about code or visual? It looks like there's something missing from your post here.

[2017-05-08 15:40] rdwatters commented on #19
Forgot to wrap the `<dl>` in back ticks on my phone :smile:

Both, maybe?

[2017-05-08 15:44] budparr commented on #19
well they're listed linearly in the sidebar and listing them as one long list would make for a very long page. If you mean to list the landing page as the actual reference—because now they're just page summaries like every other page type—then that's something, though I'd still say one long line is probably too much.

[2017-05-08 16:47] rdwatters commented on #19
I think you mean page `.Description`, no? (This is for my own clarification and the terms have been muddied elsewhere.)

[2017-05-08 16:49] budparr commented on #19
I wasn't speaking of tags, just that each of those list pages (home, section) output boxes with titles and summaries of the pages within.

[2017-05-08 16:50] rdwatters commented on #19
Oops. Looks like we crossed streams! I was just updating my comment above.

[2017-05-08 16:52] budparr commented on #19
For everything, or just the functions? What sort of Markdown do they have (just curious)? I often do that for my sites so my clients can use italics in titles.

[2017-05-08 16:58] rdwatters commented on #19
For functions at least, mostly inline `<code>` (see `now` and `GetPage`).

That was my thinking too: more flexibility. Do you think this kills perf at built time? (See https://github.com/rdwatters/hugo-docs-concept/issues/44#issuecomment-292260458)

[2017-05-08 17:05] budparr commented on #19
I strip everything out of descriptions because there meant to be a "what's inside" type of thing. Adding in code and then truncating them can lead to problems. And, yeah, build times might be a consideration here. I already hit them with consolidating templates (as I mentioned to you in Slack the other day).

[2017-05-08 17:11] rdwatters commented on #19
What do you suggest? I can go ahead and remove any ``` if you think it's cleaner. I usually just use a a func (e.g., `plainify`), but I could also see that adding more overhead.

You're talking about the 6-second build on ND? If so, gotcha :smile:

[2017-05-08 17:14] budparr commented on #19
Actually, I just looked and I don't strip anything out. This is my code. It seems to be okay just not rendering that stuff, though I haven't looked closely:

[code]

And, no I was talking about how I use one template for three different pages:
https://github.com/rdwatters/hugo-docs-concept/blob/bp/theme-design/layouts/index.html

I have to evaluate if it does too much for build-time.

[2017-05-08 17:23] budparr opened #20 "Improve styling of Prev/Next Links"
These need to look better on pages where there's no TOC and should better signal their intent.

cc @rdwatters

[2017-05-09 21:47] #11 closed

[2017-05-26 20:02] rdwatters opened #21 "Next and prev links point in opposite directions...."
This could be semi-related to #20 if you already have this in mind, but as a LTR site, I think it makes more sense to have `"<" == "prev"` and `">" == "next"`. I'm guessing you're running into the same quirk that I ran into with my previous theme; i.e., you call `.NextInSection` but it's for the `prev` link. Here's some context:

https://github.com/rdwatters/hugo-docs-concept/blob/master/themes/hu

[2017-05-26 20:05] rdwatters opened #22 "Tags page arrow icon seems misleading..."
The arrow seems to indicate an external link maybe? I'm opening this up more for conversation than presuming any authority in the matter.

Also, are the tags themselves headings with a list of pages underneath? On Desktop, the tags are 24px and each page link is 25px, so I'm not sure these visual cues work to help the user to make the distinction....

[2017-05-27 16:17] budparr commented on #21
From @digitalcraftsman

Intuitively I would expect it the other way around. Reading a book might be a good metaphor: if I want to go to the previous page I would move my hand to the left side of the book to do the flip.

possibly related: https://github.com/spf13/hugo/issues/1061

[2017-05-27 18:18] budparr commented on #21
I fixed these. It's fairly unintuitive on the code side, so thanks for pointing it out. I'll take a crack at better styling layter. Thanks guys.

[2017-05-27 18:18] #21 closed

[2017-05-27 21:48] rdwatters commented on #21
Agreed on the unintuitive part for sure. But with so many sites using it, it strikes me as unreversible. Maybe the solution is for Hugo to someday have `.NextIn "section"` or something similar.

[2017-05-28 09:32] bep opened #23 "Some issues with _headers"
I had to make some adjustments to get the theme site up and running, see https://github.com/spf13/hugoThemesSite/blob/master/static/_headers

[2017-05-28 12:49] budparr commented on #23
That policy works for me elsewhere, but I'll see if I can hone in on this to improve it. Here's our current security grade, which is a "D" so lots of room for improvement.
https://observatory.mozilla.org/analyze.html?host=themes.gohugo.io

Also, it doesn't look like we're forcing SSL on Netlify, but can take that up elsewhere.

Thanks!

[2017-05-28 19:10] rdwatters opened #24 "Godoc reference?`"
On the previous design, I included a button that would take users to the related official Godoc. This was especially useful in functions, for example. The motivation was to make the connection to Golang  because I know Steve has been charged with promoting/advocating/evangelizing the language. It also gives more close-to-the-metal descriptions of what's going on under the hood? Thoughts on whether

[2017-05-28 19:14] rdwatters opened #25 "Making the prev/next styles more informative..."
This applies to phone/tablet more than desktop because the next/prev links show the default `title` text on hover, but I wonder if it would be easier for users to see the next/prev pages/functions if the full page title is shown rather than just left and right angle brackets. I guess the same could be said for desktop, but the full list of functions is clearly shown on the left....

[2017-05-28 19:30] budparr commented on #20
closing in favor of https://github.com/budparr/gohugo-theme/issues/25

[2017-05-28 19:30] #20 closed

[2017-05-28 19:34] budparr commented on #24
It's there. Looks like when I carried it over I didn't add a name or icon for it. Here's the line https://github.com/budparr/gohugo-theme/blob/master/layouts/partials/toc.html#L10 and I can add it soon.

[2017-05-28 19:37] budparr opened #26 "Add something to make images scale for inspection"
For example:
https://hugodocs.info/hosting-and-deployment/hosting-on-netlify/#create-a-netlify-account

May be able to get away with a transform/scale CSS declaration.

cc @digitalcraftsman

[2017-05-30 17:39] rdwatters opened #27 "Add GitHub stars to site header...footer...or maybe not at all?"
FWIW, I feel your pain on the consequent blow to performance scores...

[2017-05-30 17:41] budparr commented on #27
I'm in the camp that those stars are silly and not an important metric, so not worth the hit. Recognizing that that's just my opinion.

[2017-05-30 17:42] rdwatters opened #28 "Remove "brew update" from partials/home-page-sections/installation.html"
News to me, but apparently it's no longer needed. Note that I've already updated this in the Getting Started => Installation documentation.

See https://github.com/spf13/hugo/pull/3519

[2017-05-31 18:40] rdwatters commented on #27
😆 I guess we could pitch it to the team and see if anyone feels strongly about it one way or the other...

[2017-05-31 19:29] rdwatters opened #29 "Themes showcase in global navigation should link to themes.gohugo.io"
This is my fault for not being clearer about (or, embarrassingly, documenting) the front matter fields for content in the docs site. Currently the "Theme Showcase" link in the global navigation links to a more or less blank page. For such pages, I created a `sitelink` field for pages that were to be added to the navigation but link elsewhere. That said, much of this has changed with the new theme,

[2017-05-31 19:34] rdwatters commented on #26
FWIW, I used featherlight [in the previous design](https://github.com/rdwatters/hugo-docs-concept/blob/e4df9cc17ed90c40e85686d59e8e0ad66a87e064/themes/hugo-docs-concept/pipeline/js/scripts/featherlight.js)....

[2017-05-31 23:49] budparr commented on #27
You're welcome to. I have no interest in the endeavor.

[2017-06-01 01:24] budparr commented on #29
I'm not following. The global navigation does point to themes.gohugo.io (though, note to self, I don't have it pointing to the https version, though it should be set to force https)

[2017-06-01 17:09] rdwatters commented on #29
Oh, sorry...I should have been clearer. I meant this: https://hugodocs.info/themes/theme-showcase/

Now that you mention it, shall I just remove this `.md` from content?

[2017-06-01 17:18] budparr commented on #29
Yeah, I think so.

[2017-06-01 18:57] rdwatters commented on #29
Done:

https://github.com/rdwatters/hugo-docs-concept/commit/5612bc414270a7b80674d617d16727033ce40997

[2017-06-01 18:57] #29 closed

[2017-06-01 22:52] rdwatters opened #30 "Remove data/homepagetweets.toml"
Makes sense this is essentially content for the docs site and not part of a theme. More of an FYI @budparr

See here:

https://github.com/rdwatters/hugo-docs-concept/commit/ddbd97eb8d91b1a07759c58f16b3523d7af43fef

[2017-06-01 22:53] budparr commented on #30
Yep. I'll delete mine

[2017-06-01 22:58] rdwatters opened #31 "Missed datatable shortcode from existing site...."
I'm guessing this was a result of switching themes from my previous design to the new one. I've added this quickly for the live site--apologies, in retrospect I should have submitted a PR and requested you to review--but said shortcode is largely to leverage @bep 's data files that are autogenerated from the code. **Note:** I've added said data file to the `data` folder as well.

You can see this

[2017-06-03 17:37] rdwatters opened #32 "Display more tweets in the homepage design"
Maybe just another 2-4. Now that Hugo has its own Twitter handle--and is actively being called out, especially as of late--I'd like to make sure we show it's popularity. Thoughts?

I'll take on the responsibility of keeping this updated....

cc/ @digitalcraftsman

[2017-06-03 17:39] rdwatters opened #33 "Overflow for tables and list items containing pre/code in body copy"
1. Output formats table (mobile and desktop): https://hugodocs.info/templates/output-formats/
2. Template lookup order (mobile): https://hugodocs.info/templates/lookup-order/

[2017-06-03 17:53] digitalcraftsman commented on #32
- https://twitter.com/aras_p/status/861157286823288832
- https://twitter.com/brijgogogo/status/841356782429716481
- https://twitter.com/ssddanbrown/status/818592118604083200
-

[2017-06-03 18:58] budparr commented on #32
Being that it's content, I think we can move the tweets file up to the site level, don't you think?

[2017-06-03 18:59] rdwatters commented on #32
Yup. I already did that. I mean displaying more than the current 4 tweets. Maybe 6/8 instead?

[2017-06-03 19:21] budparr commented on #32
Sure.
- [ ] make the tweets a bit smaller
- [ ] make room for additional tweets
- [ ] consider more interesting display (slideshow, formatting, etc...)

[2017-06-07 03:09] budparr opened #34 "Add Lazysizes blure CSS"
Remove from ThemeSite `layouts/partials/head-additions.html`
https://github.com/spf13/hugoThemesSite/blob/master/layouts/partials/head-additions.html

[code]
from https://github.com/spf13/hugoThemesSite/pull/43

[2017-06-10 14:19] jhabdas opened #35 "Add Apple TV-style hover effect to theme detail pages"
https://gist.github.com/onetechgenius/e7f3947597f8fd420cef652597979bc0

You know you want to...

[2017-06-20 03:57] jhabdas commented on #35
Maybe not this extreme though 🤣 http://jakpetz.co.id/

[2017-06-20 17:25] rdwatters opened #38 "Function list in site menu should be case insensitive...."
@budparr

FWIW, I've made a habit of having the `title` for every function file lowercase so that it can be sorted by said field...if that helps at all. Thoughts?

[2017-06-22 20:25] bep opened #39 "Add logo-copyright to footer"
Something ala:

"The Hugo logos are copyright © Steve Francia 2013–2017"

[2017-06-27 18:16] rdwatters opened #40 ".Lastmod.Format in page-meta-data.html pulls in last git commit rather than front matter var"
That is, rather than the `lastmod` that is specifically declared in the front matter field.

For example, when running the dev branch locally for the hugo-docs-concept, the `lastmod` is set to 2017-05-25 here:

https://github.com/rdwatters/hugo-docs-concept/blob/dev/content/templates/lookup-order.md

But after the page is staged/committed, the date in page-meta-data.html switches to today's date,

[2017-07-11 08:52] #39 closed

[2017-07-11 09:14] digitalcraftsman commented on #39
Through addition of copyright + the netlify badge the height of the columns in the footer looks a bit unbalanced. @budparr might work around it by adapting the layout.

[2017-07-11 09:54] bep commented on #39
Sure, but this will not be the last change from me that hasn't been via the "Hugo design board standards committee" :-)

[2017-07-11 12:48] budparr commented on #39
@bep feel free to nudge me on something if it needs to be done right away. I had been holding off on this to combine with other work.

[2017-07-11 20:37] bep opened #42 "Need bolder font weight for "The world’s fastest framework ...""
![image](https://user-images.githubusercontent.com/394382/28089458-5ec3cd00-6689-11e7-9daa-7c9a4789d546.png)

Having this screaming slogan with 200 font weight does not make much visual sense.

[2017-07-11 20:39] budparr commented on #42
That's funny. The last conversation I had on this was to make the font weight lighter because I had it heavier.

[2017-07-11 20:42] bep opened #43 "Yarn install fails"
I don't know yarn so no idea how to fix it:

[code]

[2017-07-11 20:43] bep commented on #42
That was not a conversation you had with me. The last conversation I had about this was to make it "title case", but we can discuss that later. Right now it needs some boldness.

[2017-07-11 20:45] scottgallant commented on #42
@bep less is more :)

Some examples from some of my favorite sites

<img width="751" alt="screen shot 2017-07-11 at 5 44 15 pm" src="https://user-images.githubusercontent.com/776019/28089821-a5cd81b0-6660-11e7-93fe-1a0477e42eac.png">

<img width="758" alt="screen shot 2017-07-11 at 5 44 19 pm" src="https://user-images.githubusercontent.com/776019/28089837-ae322cde-6660-11e7-9947-06b5628912c1.png">

[2017-07-11 20:50] budparr commented on #43
I'll have a look. May just need to update some dependencies.

[2017-07-11 20:57] bep commented on #42
@scottgallant your examples look great, but they cannot be compared to my screen shot above which looks badly unbalanced against that heavy logo. It need a 500 font weight.

[2017-07-11 21:05] budparr commented on #42
I think the issue is the scale of the logo on some resolutions. I'll have a look.

[2017-07-11 21:12] rdwatters commented on #43
Would a `yarn upgrade` work here, @budparr? This *might* help:

https://github.com/yarnpkg/yarn/issues/1619

Many users seem to go the "try it over and over until it works" route...

[2017-07-11 21:22] bep commented on #43
yarn upgrade fixed it.

[2017-07-11 21:22] #43 closed

[2017-07-11 21:37] budparr commented on #35
Lovely. If we did want this :) it would go in the hugoThemesSite repo.

[2017-07-11 21:37] #35 closed

[2017-07-11 21:38] #17 closed

[2017-07-11 21:54] #30 closed

[2017-07-11 21:57] budparr commented on #43
I've removed Yarn, with an explanation in this commit: https://github.com/gohugoio/gohugoioTheme/commit/18a6f9e6732942688f7a92408cce963e17bace58

[2017-07-12 05:26] bep commented on #42
Also, this can also be fixed by increasing the font sizes:

[2017-07-12 09:27] jhabdas commented on #35
Thank you kindly for the info and feedback, Bud

[2017-07-14 12:23] bep commented on #42
@budparr we need a fix for this issue before we can merge the new docs site into master, planned for this Sunday. I'm not familiar with the CSS build setup, so if you have no time to spare, we will just push it for another week.

https://github.com/gohugoio/hugoDocs/issues/37

[2017-07-14 12:30] budparr commented on #42
@bep I'll work on it today.

[2017-07-14 14:00] rdwatters opened #44 "Updated date should pull from lastmod and not gitinfo..."
Per Gitter conversation.

Git timestamps aren't as representative of actual content updates. For example, a small typo fix isn't really an update to the content.

[2017-07-14 14:17] bep commented on #44
We have had this discussion before and it was the main reason behind the GitInfo feature: The last Git commit is the best compromise in this situation: Much better than the file last updated (misleading in many situations, but many have suggested that) and much better than some manually updated timestamp in front matter (which most people forget to update).

And typo fixes are important updates.

[2017-07-14 14:35] budparr commented on #44
So should I revert this: https://github.com/gohugoio/gohugoioTheme/commit/4e024780ce51b63c08fe2bab7b36a45b825c1a38

[2017-07-14 14:48] bep commented on #44
@budparr I added this https://github.com/gohugoio/gohugoioTheme/commit/bca6fbb27a0e52b14ee04b2a57e2f0db772fe361 a day or so ago, but I'm not sure what is best. Up to you, but we should use the `GitInfo` when available.

[2017-07-14 16:33] bep commented on #44
On an added note: The field to use for the last update is always `Lastmod`, so this should be transparent from the template perspective.

[2017-07-14 16:50] rdwatters commented on #44
It's a great feature, but that's not what I'm talking about.

Example: if a contributor changes three typos in the current Quick Start, we're telling new users that that quick starter is now "Updated" as of mid-July...when it hasn't been updated in well over a year...and it's actually *outdated*.

In publishing, when you see "Updated," it is almost never a matter of a typographical fix: it's a sub

[2017-07-14 16:51] rdwatters commented on #44
This is what I'm suggesting: front matter. I never suggested "File last updated."

[2017-07-14 17:07] bep commented on #44
OK, so we can close this issue? The theme pulls from `Lastmod`. It is up to the calling site (i.e. hugo docs) to `--enableGitInfo`.

[2017-07-14 17:44] #44 closed

[2017-07-14 17:59] budparr commented on #42
@bep I bumped up the font weight. Not so sure I agree with the change, but recognize that it's subjective and would rather deal with it more thoroughly (looking how we can improve the page as a whole) after launch. I'll leave this open until you've had a chance to look at it.

_I'm having some issues with my local connectivity, so may be slow to respond,_

[2017-07-14 18:24] bep commented on #42
Thanks, I have pushed to https://next--gohugoio.netlify.com/ -- the final answer may be 200 font weight with a slightly bigger font size, but let us leave it like this for now.

[2017-07-14 18:39] budparr commented on #42
Great. I'll close for now.

[2017-07-14 18:39] #42 closed

[2017-07-14 19:01] bep opened #45 "Consider going black, orange then white"
The contrast from black to white is ... contrasty, esp. on my Retina screen:

![image](https://user-images.githubusercontent.com/394382/28226676-4d5168fc-68d7-11e7-9474-2d770ecd1b22.png)

Maybe switching order or going for something "less white". Not very important, but something to consider.

[2017-07-14 19:02] bep commented on #45
Never mind, looking at the screenshot it actually looks good.

[2017-07-14 19:02] #45 closed

[2017-07-14 20:49] rdwatters commented on #40
Closing per conversation here: https://github.com/gohugoio/gohugoioTheme/issues/44

[2017-07-14 20:49] #40 closed

[2017-07-15 11:13] bep opened #46 "We need GitHub style background for the "backticked text""
![image](https://user-images.githubusercontent.com/394382/28238928-1c79fd7e-695f-11e7-8d0d-b0e541a0bf04.png)

The current solution with just a monospaced font just looks weird and does not put enough emphasis on the backticked words and sentences.

I'm expecting some design gurus from the Forest to chime in with some references here, but this convention is so baked into people from years on GitHub

[2017-07-15 12:40] budparr commented on #46
@bep This is the fix:

[code]
here: https://github.com/gohugoio/gohugoioTheme/blob/master/src/css/_code.css#L13

This mimics Github and I think works fine.

<img width="713" alt="screen shot 2017-07-15 at 8 36 43 am" src="https://user-images.githubusercontent.com/115347/28239365-c5f0c1a2-6938-11e7-8042-c2294adf5a64.png">

I'm having a few local issues, but should be able to implement this in the t

[2017-07-15 16:35] #46 closed

[2017-07-15 16:38] bep commented on #46
Yes, I'm working on the `next` branch in `hugoDocs` -- but I'm flying mostly solo to get it into a publishable shape. When it is in master it is open for all ... and I guess it gets more motivating when people can actually see the result of the work done.

[2017-07-17 00:26] bep opened #47 "Top level menu "wanders""
Go to https://gohugo.io/

Then click on theme.

[2017-07-17 07:51] bep commented on #47
Enabling the search fixed it. Looks fantastic!

[2017-07-17 07:51] #47 closed

[2017-07-17 14:20] rdwatters commented on #44
So we're back to using the last git commit for the updated? I feel like we are just misconnecting on something very basic here.

[2017-07-17 17:23] jgreely opened #48 "documentation navigation problem in Safari"
[Mac OS X 10.11.6, Safari 10.1.1; and iOS 10.3.2 (iPad), Safari 10]

The sidebar navigation Javascript is partially broken in Safari, not allowing you to switch to another documentation section from a detail page. Works fine in Chrome and Firefox.

Repeat-by: go to https://gohugo.io/functions/format/, then click on any sidebar link that's not another function detail page ("About Hugo", "Templates"

[2017-07-17 17:28] digitalcraftsman opened #49 "Add back-to-top button or fixed navigation"
Pages with a lot of content, like the [template primer](https://gohugo.io/templates/introduction/), take users long to scroll back to the top. While I can click on the first headline in the TOC it doesn't take all the way up to the navigation. To reach the navigation I still a have to scroll once in order to reach it.

To simplify things I propose the addition of a back-to-top button that appears

[2017-07-17 17:29] rdwatters commented on #49
Not to muddy the issue, but I think fixed navigation(s) might be a better consideration.

[2017-07-17 17:30] bep commented on #49
What do you mean by "fixed navigation"?

[2017-07-17 17:31] bep commented on #48
Confirmed.

[2017-07-17 17:32] digitalcraftsman commented on #49
Fixed in the sense that the navigation stays at the top for example. This simply can be done by adding the `position: fixed;` property in CSS to a container.

[2017-07-17 17:38] bep commented on #49
Ah, OK, yes then I agree with @rdwatters -- it would be good to have the search box available at all times.

[2017-07-17 17:59] budparr commented on #48
Confirmed as well and I see the error in console. I'll check it out.

[2017-07-17 19:21] budparr commented on #48
I fixed this in commit https://github.com/gohugoio/gohugoioTheme/commit/18141c496f18ac74bfef480403b4bbb69c44bbbe (I mistyped the issue # in the commit message).

[2017-07-17 19:21] #48 closed

[2017-07-19 05:00] rdwatters opened #50 "Fix visual style of code highlighting"
From https://github.com/gohugoio/hugoDocs/issues/45

@budparr I will change these all to `html` if we want to extend the corresponding hljs module and you think that's the best approach.

[2017-07-19 08:03] bep opened #51 "dev: Style-changes lost on navigation in live-reload"
I guess this is a caching/JS issue that I don't understand. I haven't noticed this on other sites, so I guess this is related to the JS/webpack/node build setup.

In `hugo server` with `npm start`:

1. Make a change that triggers a CSS change => reload OK
2. Navigate to another page => CSS change in 1) is lost
3. Do a hard reload of http://localhost:1313/dist/main.css => CSS change is back

The ab

[2017-07-19 08:12] bep commented on #51
And right when I created this issue, I now cannot recreate the above. I will report back.

[2017-07-19 09:04] bep commented on #51
OK, I'm confused -- I think this is somehow related to #50 ... I.e. the whole `webpack` setup seems to be broken and the custom `highlightjs` config seems to have no effect. I tried to look at it, but with `webpack` you would have to put 50 monkeys in a room for 10 years to get it right.

[2017-07-19 13:00] budparr commented on #51
Webpack appears to be working perfectly. I just made two test changes, one of them to the hljs.css file with no problem. As long as you have caching turned off there should be no issue.

I'm happy to have a conversation about Webpack sometime, if you like.

[2017-07-19 13:45] budparr commented on #50
At one point I tried individually styling the Hugo specific templating but that didn't work, though perhaps it was due to all the different styles.  I guess the problem is consistency, so I suppose HTML is fine. But I think you understand this better than I, to be honest.

[2017-07-19 14:24] bep commented on #51
To be clear: I'm talking about the build setup described in the `/src` doc -- not sure what cache you are talking about.

[2017-07-19 14:30] budparr commented on #51
I need to change that to reflect the move back to NPM from Yarn for the lock file, but I don't think that's your issue. I think your issue is browser cache. Under dev tools settings in Chrome make sure "Disable cache (while DevTools is open)" is checked (or use incognito mode). I don't believe that issue has anything to do with Webpack or the setup in the readme.

[2017-07-19 14:32] budparr commented on #50
@rdwatters I think this issue should be closed in favor of the one in HugoDocs since the change really is in content. The design issue (changing the color scheme) belongs here. Agree?

[2017-07-19 15:28] Jos512 opened #52 "Add back/forward browser feature to TOC links"
When I click on the links in the TOC of an article, it doesn't update the browser URL. That means I can't quickly jump back and forth in the document with the browser's previous and next feature.

(Duplicate of: https://discourse.gohugo.io/t/new-docs-site-released/7470/3?u=jura)

[2017-07-19 15:48] moorereason commented on #50
I'm sure I'm in the minority, but I prefer very minimal syntax highlighting.  I use https://github.com/robertmeta/nofrils when programming in vim to highlight only comments and strings.

Syntax highlighting in HTML bloats the page markup IMHO.  There's probably a 2% chance you guys will agree with me, but I wanted to share a different perspective anyway.

[2017-07-19 15:51] budparr commented on #50
🙌 I agree with you, @moorereason. I only implemented in the first place to go with the flow, to be honest.

[2017-07-19 18:46] bep commented on #51
OK, disabling the chrome cache seems to fix my issue. Thanks.

[2017-07-19 18:46] #51 closed

[2017-07-19 18:58] rdwatters commented on #50
Sure thing @budparr I guess we will invariable have some crossover between repos/issues while everything is somewhat new:)

I'll make all the code blocks golang and leave it to you, @bep, and @moorereason to make it look awesome.

[2017-07-19 19:02] bep commented on #50
This issue isn't as much about the beauty of code highlighting as the consistency of the site. @budparr what you implemented does not work, which is why we're having this issue.

[2017-07-19 19:15] budparr commented on #50
Very well. This was my first time doing code-highlighting, so in retrospect I should have had some review. I'm happy to take another crack at it if you prefer.

[2017-07-19 19:19] budparr commented on #50
This is the source of my mistake, I believe: I was under the impression that the cause of the issue was content, like this, below, where some code is wrapped in backticks and some wrapped in Hugo `code` shortode.

[code]

### Example: List All Taxonomies, Terms, and Assigned Content

This example will list all taxonomies and their terms, as well as all the content assigned to each of the terms.

{

[2017-07-19 19:31] #50 closed

[2017-07-19 19:39] bep commented on #51
Now everyone should be happy. Now finally the docs site looks very, very good in all aspects.

And note that this improvement was all about consistency and not about code highlighting (which could have looked very good when done right).

[2017-07-19 19:45] budparr commented on #50
At the risk of sounding antagonistic, the issue I thought you were referring to (see above) still exists:

<img width="702" alt="screen shot 2017-07-19 at 3 41 12 pm" src="https://user-images.githubusercontent.com/115347/28386218-d886996e-6c98-11e7-9d6a-d9b2d98a07bf.png">
https://github.com/gohugoio/hugoDocs/blob/master/content/templates/taxonomy-templates.md

And, I agree that no highlight is bet

[2017-07-19 19:53] bep commented on #50
That was not the issue I was talking about, but feel free to fix any other issue you may have.

[2017-07-19 20:13] budparr opened #54 "Remove highlight.js from package.json"
Removed from code in: https://github.com/gohugoio/gohugoioTheme/commit/6ddf4d83cafd7fc6655e4623a6f5f90fe5bc1126
https://github.com/gohugoio/gohugoioTheme/blob/master/src/package.json#L24

[2017-07-19 20:22] bep commented on #51
One example being:

![image](https://user-images.githubusercontent.com/394382/28387760-9d8595f8-6cd0-11e7-8760-46ec2bbec5bd.png)

![image](https://user-images.githubusercontent.com/394382/28387786-ae9afefa-6cd0-11e7-88d5-a45c7d69e77f.png)

(the padding issue in the first example is my fault ...)

It would be nice to have nice Highlighting with proper Golang templates support mixed with HTML, but n

[2017-07-20 10:08] bep opened #55 "We need a "star on GitHub" button in the top somewhere"
Like it or not, Hugo's popularity is measured in GitHub stars (see https://www.staticgen.com/). I would have expected the release announcement of the new docs to increase that star count, but it stayed steady around 25 stars on the day of the announcement.

On the old site, we had a "star on GitHub" button with some Javascript. We should add that back in a visible place, maybe next to the Twitter

[2017-07-20 12:29] budparr commented on #55
I'll add the star button along with an [RSS button](https://github.com/gohugoio/hugoDocs/issues/64) tonight

[2017-07-20 13:02] bep commented on #55
Wait with the rss that does not need to be in the top.

[2017-07-20 13:04] budparr commented on #55
Okay

[2017-07-20 13:21] rdwatters commented on #55
Agreed. Regrettably, I think it takes away from the cleanness of Bud's design a bit, but whether we like it or not, GH stars are an important metric for some  users.

[2017-07-20 13:48] digitalcraftsman opened #56 "Titles of code blocks have bad contrast"
The contrast ration between the grey-blue header of the code block and the blue background isn't very high.
![cb](https://user-images.githubusercontent.com/7010165/28420546-c8ae02fa-6d62-11e7-82ae-6c13b73c5dcf.png)

[2017-07-20 14:03] bep commented on #55
Note that we only want 1 Button, to main hugo repo

[2017-07-20 15:27] budparr commented on #52
@rdwatters Going to take up our previous conversation here. Can you send me, or point me to the script you were using before? Sounds like it might fit our needs, or at least worth considering.

[2017-07-21 07:16] #55 closed

[2017-07-22 01:18] jhabdas commented on #52
Here's an example of Hugo with smooth scroll in a TOC:
https://hackcabin.com/post/become-digital-nomad-bali/

Implementation in After Dark theme:
https://github.com/comfusion/after-dark

And if you want to really step it up for docs add AnchorJS like this:
https://habd.as/zero-to-http-2-aws-hugo/

[2017-07-23 21:42] rdwatters commented on #52
@budparr Sorry for the delay. I believe this is part of it, but keep in mind I was using JQ and a lot of spaghetti code, so I worry this is going to do you very little good:

1. https://github.com/rdwatters/hugo-docs-concept/blob/960790b6a233f30009e4053178bf0fd50bda705e/themes/hugo-docs-concept/pipeline/js/scripts/smooth-scrolling.js
2. https://github.com/rdwatters/hugo-docs-concept/blob/960790b6a

[2017-07-24 21:40] bep opened #58 "Fix <titles>"
![image](https://user-images.githubusercontent.com/394382/28545977-5ccd364a-70c9-11e7-97af-611417d974ed.png)

For the home: Do not repeat the site + page title.
For the single pages: Not sure, but make it smaller/less stuttery for the Docs site.

[2017-07-24 22:56] budparr commented on #58
I'm picking up the site title from the [config](https://github.com/gohugoio/hugoDocs/blob/master/config.toml#L9): `title = "Hugo: A Fast and Flexible Website Generator"` just as a standard.

Do you think it's better to hard-code the title to fix the titles, or change the site title to "Hugo" and put the "A fast..." into a description site variable. My opinion is the latter. I think the title on th

[2017-07-24 23:34] budparr opened #59 "Fix content width"
After [change to sans-serif](https://github.com/gohugoio/gohugoioTheme/commit/3f503abe268651f6bdfbd56d79f12dcff2fa32c2) the balance of body copy is off.

- [ ] bump up body copy typeface (maybe, and judge line-height after change)
- [ ] change width of body copy

[2017-07-24 23:35] budparr opened #60 "Find an alternative to the code-box expand feature"
On desktop, code blocks that exceed the width of the column expanded on hover. This behavior is broken.

We need to either a) drop the feature (eliminate [this code](https://github.com/gohugoio/gohugoioTheme/blob/master/src/js/codeblocks.js)), or b) find another way to accomplish it

[2017-07-25 06:56] bep commented on #58
Yes.

I will do this. To see how it looks. The home page have a title "Hugo: A Fast and Flexible Website Generator", so the easy path is to just remove the Hugo prefix from that one.

[2017-07-25 06:57] #58 closed

[2017-07-26 16:03] rdwatters commented on #60
Maybe a dull suggestion, but I'm a fan of just allowing `overflow-x: scroll`.

[2017-07-28 15:52] digitalcraftsman opened #61 "Column heights in the footer aren't proportional"
The left column is much higher than the others. Is a 4-column layout an alternative?

![footer](https://user-images.githubusercontent.com/7010165/28725311-5d065000-73bd-11e7-892e-8b9292115a91.png)

[2017-07-28 15:55] digitalcraftsman commented on #49
A fixed navigation on the theme site would be a great addition as well since the homepage is quite long.

[2017-07-28 16:09] digitalcraftsman opened #62 "Add an anchor next to each heading"
This makes it easier to point to a certain paragraph when linking a page. Currently, this is only the case for level 1 and level 2 headings.

[2017-07-28 20:12] rdwatters commented on #49
I should clarify: fixed for the sidebar nav and toc, at least on desktop, especially if we are going to (re)implement smooth scrolling with hash changes. (We already have fixed nav on mobile, and I like the accessibility consideration with the `bottom:0px` fixed positioning :smile:). The main thing for me is ease of navigation and to always have context readily available, both in terms of single p

[2017-07-28 21:13] rdwatters commented on #62
Sorry @digitalcraftsman, but are you talking about headings/subheadings, headlines, or headers?

If these are the in-page anchors for headings/subheadings, are you thinking to do this on the client via JS or in the templating?

[2017-07-28 21:33] digitalcraftsman commented on #62
More precisely, I was talking about <h1> and <h2> headings.

[2017-07-28 21:58] bep commented on #62
Could you point to a example site in the wild who benefits from this?

[2017-07-29 09:01] Jos512 opened #63 "Improve search"
I had a couple of times today that, when searching the documentation, the Algolia search says that nothing can be found while I'm certain that the search query is in the docs. Here are some examples:

* Search for "verbose". Search says "no results found". But even on the [configuration page](https://gohugo.io/getting-started/configuration/) this word/setting is mentioned 8 (!) times. That configu

[2017-07-29 11:13] bep commented on #63
I notice that both your examples are inside pre-code blocks, which is probably the reason they're not indexed. I can test that theory, but if so, I think the proper solution to this is to make sure that all **terms** are defined outside of code/pre blocks.

@maxiloc can maybe answer on the search setup.

[2017-07-30 18:32] maxiloc commented on #63
Yes by default we do not index <pre> tag as it can result in a decrease in relevance.
If you want it, just ping me and I'll enable it in the config.

[2017-07-30 19:22] bep commented on #63
@rdwatters @digitalcraftsman I'm not sure about this, most of the relevant pre-blocks seem to be "pretty formatting for the lazy" and it should be a table or something ...?

[2017-07-30 19:39] digitalcraftsman commented on #63
At least for the configuration options it would make sense to switch to a table

[2017-07-30 23:41] rdwatters commented on #63
Yes and no. I can see two advantages to using a table:

1. We can have only one version of a config file
2. We can use three columns: directive, default value, explanation

The previous design (i.e., the one I slopped together before @budparr 's improvements) had config files as both copyable blocks and downloadable files/partials via javascript.

Definition lists (e.g., for all variables) also us

[2017-07-31 13:39] budparr commented on #62
These have been in place since day-one. In fact, because I'm not big on hiding things I put the icon to the right of the heading. See the image. The anchor shows up on h2 only (h1 are page headings and thus have the URL in the address bar, though we could make the title linkable).

<img width="683" alt="screen shot 2017-07-31 at 9 36 42 am" src="https://user-images.githubusercontent.com/115347/287

[2017-07-31 13:39] #27 closed

[2017-07-31 13:40] budparr commented on #61
I agree. The footer needs work in general.

[2017-07-31 20:07] rdwatters commented on #62
Ah, that's where I got confused. Yes, I standardized all body copy to:

[code]
That's also because the previous version had headings and subheadings in the TOC, which definitely made for some long TOCs :smile:

@digitalcraftsman Did you want to add these to h3's as well then? Agreed that an h1 doesn't need this for obvious reasons...

[2017-07-31 20:17] digitalcraftsman commented on #62
Adding an anchor to h3's should be fine-grained enough to link stuff.

[2017-08-01 19:02] rdwatters opened #64 "Add canonical link to head"
Somewhere around here: https://github.com/gohugoio/gohugoioTheme/blob/master/layouts/_default/baseof.html#L35

See https://github.com/gohugoio/hugoDocs/issues/118 originally opened by @Jos512 for more context:

https://github.com/gohugoio/gohugoioTheme/blob/master/layouts/_default/baseof.html

[2017-08-05 20:27] rdwatters commented on #63
So what's the verdict on this @bep @digitalcraftsman? If we want to switch site config from code blocks to a single version, this is what I'll do:

1. I'll switch it to a definitions list and make sure to not use back ticks (`<code>`) in the `<dt>`.
2. These examples configs are no longer click-and-copy-able (not that I'm saying it's a big deal)
3. Rather than two examples (i.e., yaml and toml), w

[2017-08-06 21:16] XhmikosR opened #65 "Don't inline ALL SVGs"
https://gtmetrix.com/reports/gohugo.io/1afmLJr4

This is bad as you can see. The initial HTML size is quite big. Netlify supports http/2 so it's not performant inlining everything like you do.

[2017-08-06 21:47] budparr commented on #65
@rdwatters and I have had several conversations on this topic. I think he felt it was early, browser-wise, to go all in on http2.

Also, It looks like the assets aren't gzipped, which is odd, because I think that Netlify does that automatically (I'm getting ready to switch them to hashes, so will look at it then). The other big fail is a piece of content, a PNG.

Maybe the title of the issue shoul

[2017-08-06 21:50] budparr commented on #65
confirming there is no `content-encoding:gzip`

[2017-08-06 21:59] XhmikosR commented on #65
My main concern was the huge HTML side due to you inline SVGs, the logo especially.

The rest are still issues of course but I thought you were aware of those.

Anyway, means of generating the CSS and JS files are missing from the repo too.

[2017-08-06 22:04] XhmikosR commented on #61
Since you use flexbox it's pretty easy to achieve anything you want.

[2017-08-06 22:04] budparr commented on #65
I wasn't aware of the gzip issue. I was aware of the issue you raised, but it's something we discussed and decided to go with this approach, for the moment.

I might be missing your meaning, but the CSS/JS files are in the [SRC](https://github.com/gohugoio/gohugoioTheme/tree/master/src) folder and they're generated via Webpack (or, specifically, an NPM script that generates them via Webpack). Is t

[2017-08-06 22:07] XhmikosR commented on #23
Definitely set up SSL redirection. Also set up HSTS and submit to HSTS preload list.

CSP should be doable to, you just need to go through all the docs and see what you load from which origin. You can try https://addons.mozilla.org/en-us/firefox/addon/laboratory-by-mozilla/ but it will definitely need work from your side. Also, report-uri.io is your friend.

[2017-08-06 22:08] XhmikosR commented on #65
Ah, you right. I was looking at the root of the repo.

You should also look into hooking uncss or at least purifycss. And after that critical-css and make sure you async load all JS.

[2017-08-06 22:12] XhmikosR commented on #65
BTW this is why I had an argument with rdwatters on https://github.com/gohugoio/hugo/issues/3700.

This is just overdoing things. When you make the HTML size so big (remember what you see is with gzip) there is extra delay **before** anything else starts downloading. For small files it's OK but this is too much.

[2017-08-06 22:13] XhmikosR commented on #60
IMO this is bad user experience. But if you insist so much on this, you can disable the behavior on small screens, say < 768px.

[2017-08-06 22:15] budparr commented on #65
I'm quite happy with Tachyons, thank you. It gzips to around 15kb. If you want submit a PR with critical CSS or the other things, that'd be great, but I don't think it moves the needle on a 15kb CSS file.

[2017-08-07 00:19] rdwatters opened #66 "Inline SVGs should be improved for accessibility considerations..."
We should add `<title>` and `<desc>` at least. See this handy CSS tricks article:

https://css-tricks.com/accessible-svgs/

Ref #65

[2017-08-07 00:33] rdwatters commented on #65
@XhmikosR I don't believe we had an argument, but FWIW, it seems like a lot of people on the forums and in GH threads are very passionate about matters of performance. To be honest, I usually just defer to @jhabdas on these matters.

But that's not why I'm responding to this thread, which has quickly grown from a minor suggestion into an unsolicited, discursive performance lecture that could have

[2017-08-07 01:34] jhabdas commented on #65
@XhmikosR thanks for contributing. @rdwatters thanks for the ping.

Lots of chat here. Anything immediately actionable on this awesome creation from @budparr? Always room for improvement of course. Personally I try to rely on the following guiding principles before deciding to take action on my websites:

1. Pareto principle. Is the improvement worth it now given broader context?
1. DMAIC. How to

[2017-08-07 01:39] jhabdas commented on #65
@XhmikosR almost forgot to mention, you may find the following of interest for your own sites and prototypes using http/2 and server push: http://caddyserver.com/

[2017-08-07 08:48] XhmikosR commented on #65
Just to clarify: I'm not here to educate, nor did I claim I know **everything** about performance.

That being said, there was a reason that I didn't CC @rdwatters, and it's this one exactly. I don't have the time to engage is such discussions; I just wanted to bring to your attention the issues of your current implementation.

Now, back to the topic:

1. I never claimed http/2 is panacea. BUT it'

[2017-08-07 09:26] jhabdas commented on #65
It's all good @XhmikosR. Thanks for the info.

@rdwatters @budparr I strongly advocate a DMAIC approach to performance and UX. In order to do so it becomes necessary to start measuring performance. Snapshots of performance are almost never useful—it'd be like looking at a stock price on any given day and trying to determine how well the stock is doing.

If you'd like to measure ongoing performance

[2017-08-07 12:50] budparr commented on #65
Thanks for the tips, everyone. And thanks @XhmikosR for reporting the issue. The issue around gzipping is of far more concern to me, tbh.

When we initially had the discussion I compared the performance of requesting the image or inlining , and the inline outperformed (this was done considering that not all users are going to have browsers that support http2, thus making a concession that wasn't a

[2017-08-09 06:02] rdwatters commented on #65
Hey guys. Thanks for the intel to both @XhmikosR and @jhabdas. (And @budparr.) As an FYI reached out to Netlify and Jessica was nice enough to check on the gzipping issue for me and wrote a few follow-up email. Man, they have great customer service.

Also, I learned of this site, which is probably old hat at this point for everyone on this thread and great if you're too lazy to check dev tools 😆:

[2017-08-09 06:27] jhabdas commented on #65
@rdwatters I know that I know nothing, except that I know one thing—we can use DMAIC. To introduce the methodology here is very simple and does not require deep knowledge of any particular browser, the users... none of that. All we gotta do is:

- Add a PR here to introduce the new site: https://github.com/jhabdas/speedtracker modeling from one of the exiting commits (should be clear).
- In the PR

[2017-08-09 07:01] rdwatters commented on #65
Awesome, I'm a supporter of DMAIC (although hearing "Six Sigma" gives me the howling fantods but only because of personal corporate reasons). I'm deferring to @budparr since he is the guru of the theme itself. Cheers and thanks again @jhabdas!

[2017-08-09 07:03] jhabdas commented on #65
I'm stealing that. ><

[2017-08-09 07:08] rdwatters commented on #65
I did too:

https://www.brainpickings.org/2012/09/04/words-david-foster-wallace-mom-invented/

You're a fellow Land-o-Lincoln-er, yeah? RIP, DFW 😢

[2017-08-09 13:00] budparr commented on #65
@rdwatters Interesting about the gzip. I think there's a gap in my knowledge about what the headers look like with http2/push. Webpage test gives me a warning about gzip not working, yet now I see in dev tools that the initiator is `push/other`so I guess it's not the issue I thought it was. Thanks for checking with them.

I'm going to close this issue so folks who don't want the notifications don'

[2017-08-09 13:00] #65 closed

[2017-08-28 13:30] budparr opened #67 "Add auto-discovery for feeds to head"

[2017-09-25 11:05] localguru opened #68 "ExampleSite to create a new website"
Hi,

is there an ExampleSite to start a new website with the `gohugoioTheme` theme. The only way I found was to cloned the hugoDocs and remove content I don't need.

Ciao
Marcus

[2017-09-25 11:27] bep commented on #68
Please use https://discourse.gohugo.io/ for questions/troubleshooting. Also see  [Hugo Documentation](http://gohugo.io/overview/introduction/).

[2017-09-25 11:27] #68 closed

[2017-09-26 10:00] digitalcraftsman opened #69 "Syntax highlighting in some code blocks is broken"
The addition of the stylesheet for the Chroma syntax highlighter interferes with the original styles changed the styling of the code blocks in an unintended way on [some pages](https://gohugo.io/templates/introduction/):

![cb](https://user-images.githubusercontent.com/7010165/30854494-1e496428-a2b2-11e7-9f53-2d063f2c90f2.png)

See also https://github.com/gohugoio/hugoDocs/issues/208

/cc @budparr

[2017-09-26 12:07] localguru opened #70 "German umlauts not working in /docs navigation"
Hi,

using German umlauts in name variables is not working, e.g.:

[code]

I tried `de` and `utf-8` for language code:

[code]

Any ideas how to fix this?

Ciao!

[2017-09-26 12:42] digitalcraftsman commented on #70
Thanks for getting in touch, but it feels like this is a question that would be better suited to the [Hugo Discussion Forum](https://discourse.gohugo.io/).  We prefer to use GitHub issues only for bugs and enhancements.

[2017-09-26 12:42] #70 closed

[2017-09-26 22:45] localguru commented on #70
No problem. I thought this is a bug. I'll post it in the Hugo Discussion Forum.

[2017-09-30 11:01] digitalcraftsman commented on #69
Fixed in https://github.com/gohugoio/hugoDocs/pull/220

[2017-09-30 11:01] #69 closed

[2017-10-19 02:19] bep opened #72 "Add .Title to the news blocks"
![image](https://user-images.githubusercontent.com/394382/31751235-9c063772-b484-11e7-872f-79ce8904ca95.png)

Without it, some of the above looks "out of context".

[2017-12-14 00:07] felicianotech opened #75 "Add in instructions on how to build theme with site and build assets"
Looks like CSS (and maybe other stuff) is being built with an asset manager. Which? Instructions?

[2017-12-14 03:44] budparr commented on #75
Hey, @felicianotech The instructions and details on the tools (Webpack/Post-CSS) are in the readme of the SRC directory: https://github.com/gohugoio/gohugoioTheme/tree/master/src

[2017-12-14 22:14] felicianotech commented on #75
This still needs info in the main readme, but that helps for now. Thanks.

[2017-12-14 22:14] #75 closed

[2017-12-14 22:18] budparr commented on #75
I didn't put them in the main readme because the way the CSS is structured it doesn't typically need to be part of the build process.

[2018-02-08 09:37] #64 closed

[2018-03-09 13:08] DirtyF opened #80 "Gopher is missing on the themes directory"
[code]

[2018-03-09 14:35] budparr commented on #80
The image resides in the main website's repo, instead of the theme. We can either make the link a full link (quickest) or move the image (probably correct, but may be a pain for @bep).

Thanks for pointing it out @DirtyF

[2018-03-09 14:42] bep commented on #80
I will move it.

[2018-03-09 14:48] bep commented on #80
Done.

[2018-03-09 14:48] #80 closed

[2018-03-09 15:09] DirtyF commented on #80
![fancy_gopher_renee](https://user-images.githubusercontent.com/103008/37214103-46ecac4a-23b4-11e8-97fe-19b2d75be0ee.jpg)

[2018-03-14 23:25] kaushalmodi opened #81 "Incorrect order of "Fundamentals" links on Documentation home page"
At the moment, https://gohugo.io/documentation/ shows as:

![image](https://user-images.githubusercontent.com/3578197/37436241-45a0b856-27bd-11e8-93a3-0f13c435a34b.png)

It does not seem right that the "Base Templates and Blocks" is the 1st item, whereas "Content Organization", "Introduction to Go Templating" come afterwards.

[2018-03-15 21:13] kaushalmodi opened #83 "Instructions for static/dist/ files update incomplete?"
Hello,

I followed the instructions at https://github.com/gohugoio/gohugoioTheme/tree/master/src and did `npm install` followed by `npm start`.

But with my local git HEAD at https://github.com/gohugoio/gohugoioTheme/commit/e0ad9f32a1f0fe6cd1d7f38b71533d9befdce5f7, the resultant `app.bundle.js` and `main.css` come up with a huge diff: https://github.com/kaushalmodi/gohugoioTheme/commit/80a84dd9abd

[2018-03-16 14:18] kaushalmodi commented on #63
@bep I just checked that now **verbose** is not inside code blocks, though it is found in `<dt>` and `<dd>` tags:

[code]

@maxiloc Is the text inside dt/dd also ignored? If so, I'd suggest to please enable that.. because many of the terms that people would be searching for would be inside definition lists. As it looks now, terms inside definition lists are not found by Algolia, whether or not the

[2018-03-16 14:30] kaushalmodi commented on #83
Looks like I didn't read the last line in the documentation (`npm run build:production`) .. sorry.

[2018-03-16 14:30] #83 closed

[2018-03-16 18:52] kaushalmodi commented on #63
@bep Should the search within code blocks be enabled? Otherwise people will never find the stuff from the auto-generated documentation.. like the `--navigateToChanged` switch in https://gohugo.io/commands/hugo_server/.

[2018-03-16 18:59] bep commented on #63
Only if we can restrict it to the /commands.

Else we may have to duplicate those flags in a "Flags" section with definition lists in the Config page.

[2018-03-16 19:00] bep commented on #63
Thinking about it: The flags that represent "features" deserves its own headline somewhere.

[2018-03-16 20:08] maxiloc commented on #63
Hey,

I updated the config, I added `dt`, `dl` and `code` tag. Let me know if you think it's better. We can iterate on this if needed.

Cheers,

[2018-03-16 20:11] kaushalmodi commented on #63
@maxiloc Thanks!

IMO this is much better than incorrectly reported "no search results".

### Searching "verbose"

![image](https://user-images.githubusercontent.com/3578197/37542460-a30bdb9c-2934-11e8-9140-efdf9028a499.png)

### Searching "navigateToChanged"

![image](https://user-images.githubusercontent.com/3578197/37542486-bfc690f6-2934-11e8-880b-c1d8c679b020.png)

[2018-03-16 20:58] bep commented on #63
Yea, this is a big improvement. Thanks for doing this.

@kaushalmodi we should adjust the title for the CLI docs ("Documentation" sounds a little generic), but I suspect we need to do this in the `hugo` repo -- can you create an issue for it there?

[2018-03-20 03:31] #62 closed

[2018-03-20 10:37] kaushalmodi opened #86 "Should we stop committing the minified JS/CSS?"
Hello,

I find committing the minified files very redundant, just as I'd we were to commit the Hugo binaries too.

The minified JS/CSS files are auto-installed.. so can that step happen on Netlify, in the `command` parameter? I do that for my site by wrapping the minification+ Hugo call in a bash script, and then Netlify command contains just that bash script.

- Committing the minified files crea

[2018-03-20 11:08] bep commented on #86
There is nothing automatic about this currently. I agree in principle, but it would require work on the Netlify side...

[2018-03-20 11:53] budparr commented on #86
I don't have a problem with this in general. I typically bundle my production files locally to keep them out of the build process on the server, but that's because my clients care very much about build times.

So, we can move Webpack to the root and set up Netlify to build on push with an NPM script. I'm happy to take this on.

[2018-03-20 12:03] kaushalmodi commented on #86
Yes, but that shouldn't be a big deal compared to the gain in cleaner commits and merges.

Also, you would need to generate those minified files in your release assets deployment script.. if you expect users to just download the release archive, and run hugoDocs locally (without putting the minification burden on them).

[2018-03-20 12:10] budparr commented on #86
They don't have to do that now. JS/CSS are seldom generated on the site because we use utility classes for CSS and we don't have all that much JS.

[2018-03-20 12:22] kaushalmodi commented on #86
Right, I find no reason to run the docs locally unless someone is contributing to it.

I mentioned that only because I read in one of the issues that the gohugo.io domain is blocked in their country.. those users might need to run docs locally.

[2018-03-20 12:25] budparr commented on #86
I may not be understanding where you're going with this. To generate and commit minified JS/CSS locally as we do now, instead of on the build at Netlify, would allow someone to run the docs locally without generating them (and without worrying about errors or instructions because it's just Hugo then). Sorry for being dense. What am I missing?

[2018-03-20 13:10] bep commented on #86
I think this boils down to:

The _other users_ are more important than us. I kind of hate it myself if I try to use a Hugo theme and it requires some additional Gulp step ...

[2018-03-20 13:10] #86 closed

[2018-03-20 13:21] kaushalmodi commented on #86
I hope you can reconsider this because **not committing** the minified files is the right thing to do.. for the same reasons we don't commit binaries.

How many users do you think clone hugoDocs locally for using docs and not developing? Wouldn't it be better to provide such users with a downloadable docs archive that already has the minified files?

[2018-04-28 04:04] LinuxSuRen opened #91 "Got error when tweets is not exists"
Here is my config.toml
[code]
When I run cmd 'hugo server', got error information below:

Building sites … ERROR 2018/04/28 11:57:21 Error while rendering "home" in "": template: /Users/mac/IdeaProjects/Github/phoenix-autotest/phoenix.docs/themes/gohugoioTheme/layouts/index.html:23:8: executing "main" at <partial "home-page-s...>: error calling partial: template: theme/partials/home-page-sections/

[2018-07-16 22:22] kaushalmodi opened #96 "Invalid Netlify header directives"
I see this in Netlify log for the hugo docs site:

[code]

https://github.com/gohugoio/gohugoioTheme/blob/master/layouts/index.headers needs to be fixed.

[2018-07-16 22:29] bep commented on #96
I somehow get a dejavu feeling about this issue. Are you sure you have not asked this before?

Also, have you checked that the headers actually works (the important part)?

[2018-07-16 22:33] kaushalmodi commented on #96
Short deja vu.. I opened this issue on hugoDocs, closed there and reopened here :P. But other than that, asking this the first time :)

Looks like the headers work.. as Netlify is probably ignoring the `*/` line. Here are the headers I read for main.css on Firefox:

![image](https://user-images.githubusercontent.com/3578197/42787038-ab87b0e6-8926-11e8-82ea-8b68808b5908.png)

[2018-07-16 22:41] bep commented on #96
OK, but I have had this discussion before. And as I remember it, there was a mismatch between the validator and the ... actual implementation in Netlify. i much prefer a working solution vs a broken solution that passes a broken validation.

[2018-07-16 22:41] #96 closed

[2018-07-16 22:46] kaushalmodi commented on #96
OK, but just out of curiosity, would `*/` work the same as just `/`? The latter is part of the default examples on their headers validation page.

[2018-07-16 23:03] bep commented on #96
You need to ask Netlify and not me. This is not important in relations to ... a bunch of important things.

[2018-08-03 15:41] dankegel opened #97 "Normal text has borderline contrast"
(From https://discourse.gohugo.io/t/hugo-documentation-webpage-contrast-too-low-getting-eyestrain/13255/9 )

Contrast in normal text, e.g. the words "To verify your new install" in the page
http://gohugo.io/getting-started/quick-start/
is relatively low:
![hugo-contrast](https://user-images.githubusercontent.com/170976/43650535-e22b711a-96f4-11e8-951a-751f08aef5c1.png)
(it looks a little worse in

[2018-08-03 15:46] kaushalmodi commented on #97
@bep I'd proposing setting the code block backgrounds to white and using the `github` Chroma theme (you can see a sample at the end of [this post][1]).

[1]: https://scripter.co/nim-fizz-buzz-test/

[2018-08-03 15:48] onedrawingperday commented on #97
I also agree that the contrast in the code blocks should be increased.

[2018-08-03 16:28] bep commented on #97
I have now set code blocks to have white background + set the theme to GitHub. The inline code styles looks a little funky, so may revisit that. Setting the body background to white is a little bit too dramatic a change. I tested it and it just looks ... odd.

[2018-08-03 16:37] kaushalmodi commented on #97
Sorry, I didn't mean that. I first suggested setting the code block bg to white assuming that the body bg is white. In attempt to clarify (which I did not), I added "or rather the body tag default".

Summary: Set the code block bg to the body bg (`default` in CSS).

[2018-08-13 23:45] TotallyInformation commented on #97
I've been on hols so sorry for the late response here. I agree that the contrast is too low and we should really be aiming for AAA compliance rather than AA.

However, I also agree that a pure white background for code isn't brilliant. Possibly black text on light grey background would do the job?

[2018-08-13 23:56] dankegel commented on #97
I'd settle for just changing # 555 to # 333, it won't really change the look, just make it more legible.  But then I don't understand the theme.

[2018-08-22 09:15] serg opened #99 "Unused assets (js, css) inside the demo of the theme"
I have created an issue inside the hugoThemes repository, but I think it should be here.
Here is: https://github.com/gohugoio/hugoThemes/issues/409

I think it's related with the Netlify configs located at here:
https://github.com/gohugoio/hugo/blob/master/docs/themes/gohugoioTheme/layouts/index.headers

[2018-08-22 09:54] onedrawingperday commented on #99
I looked into this issue a bit yesterday and I noticed that this is an issue with Chrome only.

In Firefox the CSS and JS assets of the Hugo Site are not requested.

[2018-08-22 13:40] serg commented on #99
I am also confirms this. This issue reaching out in Chrome only.

Perhaps, the good solution is adding the exclude pattern for the `/theme/*` url to the config if the Netlify provides this ability.

[2018-09-25 14:40] kaushalmodi opened #102 "Do the .Next/.Prev -> .PrevPage/.NextPage refactoring on updating to Hugo v0.50"
Ref: https://github.com/gohugoio/hugo/pull/5252

[2018-12-07 17:22] crgeary commented on #56
This appears to be fixed now.

[2018-12-07 17:37] crgeary commented on #61
This has changed a fair bit from the above screenshot. Looks like it's now a bit too one-sided with the right side of the footer. This is because the sponsors butt up against the right edge of the container, but the content on the left is centred instead.

![image](https://user-images.githubusercontent.com/3949335/49662847-e0245e00-fa44-11e8-90a7-3e30ed174d59.png)

It also seems rather odd to me t

[2018-12-08 17:20] digitalcraftsman commented on #56
That's right. The blue background has been removed which increased the contrast a lot.

[2018-12-08 17:20] #56 closed

[2018-12-09 18:43] jan-xyz commented on #91
I don't think that it is meant to be used with anything other than the hugoio websites. However, if you want to get the blog running, make sure you have [this file](https://github.com/gohugoio/hugoDocs/blob/master/data/homepagetweets.toml).

[2019-01-09 10:43] onedrawingperday opened #106 "Create an opt-in to Google Analytics Tracking on gohugo.io websites"
I noticed that currently Google Analytics tracking is enabled across the board on all gohugo.io websites.

See: https://github.com/search?q=org%3Agohugoio+UA-7131036-4&type=Code

Please consider disabling it.

If you see value in tracking visitors then maybe there should be an opt-in or opt-out banner.

Personally I am not in favour of tracking visitors for an Open Source Project but then again th

[2019-01-09 13:57] budparr commented on #106
I think there should be analytics. Having that data helps determine how people use the site, and thus can be useful for design. What's more, for the long-term viability of a an open source project, there should be a measure of users, and I think web traffic is a better measure than stars.

However, I agree, opt-in is appropriate. We have that capability now (in the internal ga template). I haven't

[2019-01-09 14:03] onedrawingperday commented on #106
Yes we had work done to this end in the GDPR update back in May 2018.

Some kind of opt-in banner is needed so that when a user clicks:

Yes ---> The GA script loads
No----> The script doesn't load

Also once a choice is made the banner shouldn't appear again for an X amount of time.
Perhaps a Local Storage key will do.

Thanks for offering to tackle this.

[2019-01-09 14:06] budparr commented on #106
Perhaps rename the issue to reflect just opt-in. And that assumes others agree.

[2019-01-09 14:08] onedrawingperday commented on #106
Done.

[2019-02-01 07:07] bep opened #117 "Garbled search box"
I pulled the theme updates into the sites, and now the search box looks garbled:

![image](https://user-images.githubusercontent.com/394382/52107858-4b7b4e00-25f8-11e9-97aa-e7be8e2ef0aa.png)

/cc @budparr

[2019-02-01 08:05] bep commented on #117
Fixed

[2019-02-01 08:05] #117 closed

[2019-02-01 08:55] onedrawingperday opened #119 "Search text color is transparent in Safari iOS"
It seems that something changed recently and now when typing in the search box of the Hugo website the text is transparent.

I see this behavior in mobile Safari, iOS 12.

I’m afraid that I can’t provide a screenshot as I’m on the go at the moment.

[2019-02-01 11:17] onedrawingperday commented on #119
Here is the screenshot:

![](https://imgur.com/Bzz0EHE)

[2019-02-02 10:51] #54 closed

[2019-02-02 10:56] XhmikosR commented on #119
Can you try with `color: #fff`? I don't have an iOS device to debug this.

The cause might be the CSS minifier BTW. You can confirm if you run the debug build locally.

[2019-02-02 11:39] XhmikosR commented on #119
Or it could be the algolia styles.

@onedrawingperday can you try https://xmr-hugo-dev.netlify.com/?

[2019-02-02 11:53] onedrawingperday commented on #119
@XhmikosR

The problem is fixed in the link you posted in Safari iOS.

[2019-02-05 12:00] ankitskvmdam opened #125 "On Mobile in "Use Site Configuration Parameter" section, the tabs come over the navbar"
On Mobile in "Use Site Configuration Parameter" section, link: "https://gohugo.io/templates/introduction/", tabs come over the navbar.
I have also attached the screenshot for reference.
![hugo](https://user-images.githubusercontent.com/22586210/52272088-a7810200-296b-11e9-8eb8-612f2ef8cbf9.jpg)

[2019-02-15 14:55] #119 closed

[2019-03-26 12:02] joshmorel opened #127 "Theme item on large display take up 100% width"
![image](https://user-images.githubusercontent.com/10546720/54995549-5968a200-4f9d-11e9-9c88-9277db392181.png)

I see they are using `w-30-ns` class which would address this except the class does't exist in the CSS. There is `w-20-ns` and `w-50-ns` but no `w-30-ns`.

[2019-03-26 14:12] budparr commented on #127
This seems to be an error with the way we purge the CSS file now. I'll check it out.

[2019-03-26 14:52] #127 closed

[2019-04-22 19:45] anthonyfok opened #129 "Duplicates? Both app.js and app.bundle.js are currently included"
While packaging the latest Hugo 0.55.x for Debian, I was warned by the Lintian checking tool about the necessity to provide the missing source files of app.js and app.bundle.js, which eventually alerted me to the fact that both app.js and app.bundle.js exist, probably as duplicates?

That is despite a relatively recent commit 3b33d5ad200c57f8adbaf75f9c54ca3cc0cc97f8 "Update asset dependencies and

[2019-05-04 23:22] shiftgeist opened #130 "Idea: Dark theme"
I like dark themes. How about we make one for the hugo docs?

I would love to help implementing this.

(https://github.com/gohugoio/hugoDocs/issues/805)

[2019-07-28 14:06] JamesZhangChina opened #133 "The menu cannot be fully displayed on the mobile phone"
hi，Mr.

The menu cannot be fully displayed on the mobile phone, because the Menu cannot be dragged up and down, like this:

![image](https://user-images.githubusercontent.com/22817906/62007712-523be580-b183-11e9-9594-ba02718ad66d.png)

[2019-08-16 07:10] #133 closed

[2019-08-28 01:45] JamesZhangChina commented on #63
Hi, @maxiloc ，

How do I create an Algolia index by iterating? Just like the gohugo.io website, Search results by chapter.

[2019-08-28 12:58] s-pace commented on #63
👋 @JamesZhangChina,

I am working with @maxiloc on DocSearch. If you want us to feature your website, [please apply from this form](https://community.algolia.com/docsearch/apply.html). If you can also reply to the automatic email with a link to this PR it would be great.

Thanks

[2019-09-09 10:08] writarium opened #136 "Editing the footer?"
I just discovered Hugo two days ago and then discovered this theme. I won't describe on length about how much I love it!

Jumping straight to my issue. I was wondering how do I go about editing like removing or adding contents to it? I found ways of editing items like the sidebar or Header but haven't found anything for the footer.

Could anyone please give directions on how do I go about it?

Muc

[2019-09-11 09:24] digitalcraftsman commented on #136
Hello @writarium,

the template for the footer shown in the image above can be found [here](https://github.com/gohugoio/gohugoioTheme/blob/9d6c945dcb655c2b6295c0f5fad23a92b0a9e5f3/layouts/partials/site-footer.html). For further discussions, please use the official [Hugo forum](https://github.com/gohugoio/gohugoioTheme/blob/9d6c945dcb655c2b6295c0f5fad23a92b0a9e5f3/layouts/partials/site-footer.html)

[2019-09-11 09:24] #136 closed

[2019-09-15 10:49] rishiip opened #137 "Docs - Quick Start - Add a Theme section not displaying properly"
While visiting following url, `Add a Theme` section is not displaying properly.

https://gohugo.io/getting-started/quick-start/#step-3-add-a-theme

<img width="1280" alt="Screenshot 2019-09-15 15 56 33" src="https://user-images.githubusercontent.com/7964257/64920188-034d1c80-d7d2-11e9-8396-8673ca49ea65.png">

@bep I am able to pick it up. Please let me know.

[2019-09-27 10:33] writarium commented on #137
Is your mouse hovered over the piece of code? From what I understand, hovering the mouse over long lines of code stretches the code block further right.

https://gfycat.com/scratchymaleerin

[2019-10-08 11:54] rishiip commented on #137
@writarium Yes.

[2019-10-14 12:07] bep opened #139 "I cannot build this project"
The instructions tell me to build from `src`, and that has admittedly worked beofore -- now any build variation gives me an webpack error:

[code]
/cc @budparr @XhmikosR any idea? I must admit that I do not understand the build setup, but we need to fix this ASAP.

[2019-10-14 12:21] bep commented on #139
OK, doing a CSS change and building from the top level works? Is the `src` folder now superflous?

[2019-10-14 13:01] XhmikosR commented on #139
You are not supposed to be in src. You need to be in root and use one of the scripts defined in package.json

[2019-10-14 14:22] bep commented on #139
So, then I assume that **the old build dir (src)** can safely be deleted?

[2019-10-14 14:23] XhmikosR commented on #139
No, that is the src dir. The assets dir is the dist dir AFAICT.

[2019-10-14 14:24] XhmikosR commented on #139
Actually wait, yes, it seems that the src dir can be removed. See if the commands from root run fine after you remove it (all of the scripts).

[2019-10-14 14:44] #139 closed

[2019-10-14 15:00] bep commented on #129
I don't see this behaviour now?

[2019-10-21 16:30] coliff commented on #106
A quick easy-win which helps with protecting users privacy (and GDPR compliance) a bit would be to add IP address anonymization to the Google Analytics config for all users. Just add:
`'anonymize_ip': true`
to: https://github.com/gohugoio/gohugoioTheme/blob/master/layouts/partials/gtag.html
There's almost no downside to doing this (other than the accuracy of geographical location of users at the c

[2019-11-21 08:46] janat08 opened #141 "Docs nav on Hugo site isn't scrollable"
Docs nav on Hugo site isn't scrollable.

Firefox, android

[2019-11-22 08:53] onedrawingperday commented on #141
Can reproduce on the iPhone as well.

The Hugo Theme's mobile menu is a fixed div that has `bottom:0` and it is not scrollable.

This affects all Hugo sites including the ThemeSite.

There are a couple of related issues in that repo that I am going to close in favor of this one.

I would submit a PR myself to fix this but I'm not familiar with the CSS framework used -neither do I plan to familiari

[2020-01-28 16:28] shiftgeist opened #142 "Categories list is a blank page"
Just noticed that https://gohugo.io/categories/ is a blank page.

[2020-01-28 16:43] shiftgeist opened #143 "Is `src/node_modules` in gitignore still needed?"
^

[2020-01-28 16:52] #142 closed

[2020-03-05 18:30] Resonanz opened #275 "Displays incorrectly on iPad"
The black header bar displays incorrectly on iPad in landscape mode. The magnifying glass in the search box is not situated correctly, and the Twitter and github icons on the right hand side are not aligned correctly in the vertical direction.

[2020-04-07 22:13] Nallebeorn opened #276 ""What's on this Page" navigation list doesn't always fit on screen"
I noticed this on [https://gohugo.io/templates/lists/](https://gohugo.io/templates/lists/), but it might affect other pages with many headings as well. The list of headings under "What's on this Page" doesn't properly fit on screen (see picture), and simply disappears off-screen with no way to scroll to see the rest (I can technically reach all links in this particular example, but not the arrows

[2020-06-27 13:15] jmooring opened #147 "Fix showcase "See More" link logic"
Hitting edge case on docs site. The "See More" link should be visible when there are _more_ than 20 sections. We currently have _exactly_ 20 sections, and the "See More" link is visible due to erroneous comparison logic.

PR in progress.

[2020-06-27 15:37] #147 closed

[2020-07-20 02:49] coliff opened #154 "Add Stylelint Config for catching bugs and ensuring consistent formatting"
I think we should add stylelint and stylelint-config-standard to the projects package.json and the relevant config in the root directory. We can then add a lint-css script to lint the CSS in the assets/css directory. I'd be happy to open a PR for it - let me know...

REF: https://stylelint.io/
https://github.com/stylelint/stylelint-config-standard

[2020-09-07 15:46] coliff commented on #23
The site gets a **B-** score now which is much better so I suggest that this issue can be closed.
https://observatory.mozilla.org/analyze/gohugo.io

[2020-09-07 15:47] coliff commented on #3
Closing this now as this feature is part of the https://gohugo.io/ site now.

[2020-09-07 15:47] #3 closed

[2020-09-07 16:14] #23 closed

[2020-10-08 09:37] davidsneighbour opened #176 "npm start and npm run build fail while minifying CSS"
I am trying to test a CSS fix. When running the build tools I receive the following error message (and CSS/JS is not recompiled):

[code]

Sounds like something in the configuration options changed.

[2020-10-12 12:08] vitaly-zdanevich commented on #130
Maybe we can use https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme?

I am also can help to write this 20 lines of CSS.

[2021-01-20 11:33] bh90210 commented on #176
same problem here. is there any update?

[2021-04-23 13:35] hsehdar opened #200 "Make it a generic theme for documentation"
This theme when applied in Hugo Documentation looks great and would like to have it as a generic theme for documentation of other projects. Would that be possible? I am referring to
![image](https://user-images.githubusercontent.com/50985509/115879000-cc87bf80-a466-11eb-887a-1d093ece1d42.png)

It should be as simple as executing

`git submodule add https://github.com/theNewDynamic/gohugo-theme-ana

[2021-10-13 17:32] budparr commented on #24
agree!

[2022-03-31 08:21] #106 closed

[2022-04-04 21:48] darrenaddy opened #273 "Could we make the Docs page printable (WITHOUT the menu hiding page content)?"
Here's what Hugo docs pages currently look like if you want to print them:
[https://imgur.com/a/kpDL1NC](https://imgur.com/a/kpDL1NC)

There is a menu at the bottom of each page that often covers page content.
Suggestions for how to do it here: [https://developer.mozilla.org/en-US/docs/Web/Guide/Printing](https://developer.mozilla.org/en-US/docs/Web/Guide/Printing)

[2022-04-05 14:55] #176 closed

[2022-09-20 16:01] aviita commented on #141
Is this same issue or different one?

None of the pages on this Azure Citadel seem to be scrollable on desktop firefox.

Try here:
https://www.azurecitadel.com/network/vdc/monitor/

Even some root cause for that being analyzed here: https://github.com/azurecitadel/azurecitadel/issues/104

Azure Citadel seems to be using Hugo version 0.90.1 based on their main page:
https://github.com/azurecitadel/

[2022-11-16 19:14] jmooring opened #253 "Remove highlight.js"
It looks like it was removed in [#123](https://github.com/gohugoio/gohugoioTheme/pull/123), but it came back.

https://github.com/gohugoio/gohugoioTheme/blob/master/package.json#L28

https://github.com/gohugoio/gohugoioTheme/blob/master/assets/css/_hljs.css

https://github.com/gohugoio/gohugoioTheme/blob/master/assets/js/hljs.js

[2022-11-16 19:40] #253 closed